.fell{
    border: solid 5px;
    padding: 10px 10px 10px 10px;
}
.butlft{
     border: solid 5px;
    padding: 0 30px 10px 30px;
    align-content: left;
     margin-left: 60px;
    margin-right: 10px;
    margin-top: 10px;
}
.butcenter{
     border: solid 5px;
     padding: 0 30px 10px 30px;
    align-content: right;
    margin-left: 60px;
    margin-right: 10px;
    margin-top: 10px;
}
.butrgt{
     border: solid 5px;
    padding: 0 30px 10px 30px;
    align-content: right;
     margin-left: 60px;
    margin-right: 10px;
    margin-top: 10px;
}